
server {
    listen {{ nginx_port }};
    server_name {{ nginx_server_name_re }};

    access_log {{ nginx_serve_access_log_file }};
    error_log {{ nginx_serve_error_log_file }};

    root {{ serve_directory_path }}/$subdomain;

    gzip  on;
    gzip_min_length  1000;
    gzip_proxied     any;
    gzip_types       text/plain application/xml application/x-javascript text/javascript text/css text/json;
    gzip_comp_level  6;

    location / {
        try_files index.html index.htm @tree;
    }

    location @tree {
        autoindex on;
    }
}

upstream {{ app_name }}_wsgi_server {
    server unix:{{ virtualenv_path }}/run/uwsgi.sock fail_timeout=0;
}

server {
    listen {{ nginx_port }};
    server_name {{ nginx_upload_server_name_re }};

    access_log {{ nginx_web_access_log_file }};
    error_log {{ nginx_web_error_log_file }};

    client_max_body_size {{ nginx_client_max_body_size }};

    proxy_read_timeout 120;

    location /static/ {
        alias {{ project_path }}/static;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass {{ app_name }}_wsgi_server;
    }
}